:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#3c3012;
    --tri2:#74512D;
    --red:red;

}

@font-face {
    font-family: light;
    src:url(./Dinglist.otf)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: light;
    color: var(--pri);
   
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
   height: 100%;
   width: 100%;
   padding: 40px;
   padding-top: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 40px;
   position: absolute;
}

.elem{
    /* background-color: #FEBA17; */
    height: 400px;
    width: 330px;
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
   

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;

}

.elem:active{
    scale: 0.95;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 20px;
   display: none;
   position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px 11px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}


.Todo-list-fullpage h2{
    font-size: 65px;
}

.Todo-list-fullpage .todo-container{
  height: 80%;
  width: 100%;
  /* background-color: var(--tri1); */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.Todo-list-fullpage .todo-container .addTask{
width: 33%;
height: 100%;
border-radius: 20px;
background-color: var(--tri2);
}

.Todo-list-fullpage .todo-container .addTask form{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;
}

.todo-container .addTask form input#task-input{
    padding: 10px 20px;
    width: 100%;
    font-size: 28px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 1px ;
}
.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 1px ;
}
.todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 28px;
    background-color:rgb(211, 134, 0);
    color: #482a00;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.2s;
}

.todo-container .addTask form button:active{
    scale: 0.97;
}

.Todo-list-fullpage .todo-container .allTask{
width: 65%;
background-color: var(--tri2);
height: 100%;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;
}

.task{
   width: 100%;
   display: flex; 
   align-items: center;
   justify-content: space-between;
   background-color: var(--pri);
   padding: 20px 40px;
   margin-bottom: 10px;
   border-radius: 10px;
}

.task h5{
color: var(--sec);
font-size: 40px;
display: flex;
align-items: flex-start;
gap: 10px;
}
.task h5 span{
background-color: var(--red);
color: var(--pri);
padding: 4px 8px;
border-radius: 50px;
font-size: 15px;
}
.task h5 span.true{
opacity: 1;
}
.task h5 span.false{
opacity: 0;
}

.task button{
padding: 15px 30px;
color: var(--pri);
background-color:green;
font-size: 28px;
border-radius: 5px;
text-align: center;
}

.Mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    gap: 30px;
}


.Mark-imp input{
    scale: 2;
}
.Mark-imp label{
    font-size: 20px;
}