:root{
    --pri:#F8F4E1;
    --sec:#4E1F00;
    --tri1:#3c3012;
    --tri2:#74512D;

}

@font-face {
    font-family: light;
    src:url(./Dinglist.otf)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: light;
    color: var(--pri);
   
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElems{
   height: 100%;
   width: 100%;
   padding: 40px;
   padding-top: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 40px;
   position: absolute;
}

.elem{
    background-color: #FEBA17;
    height: 400px;
    width: 330px;
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
   

}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;

}

.elem:active{
    scale: 0.95;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 20px;
    font-size: 60px;
   display: none;
   position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 50%;
    padding: 10px 11px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.back:active{
    scale: 0.97;
}